<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #items{
            display: none;
        }
    </style>
</head>
<body>
    <li><a href="" onclick="iten1()">market</a></li>
    <div id="items">
        <ul>
          <li><a href="http://" target="_blank" rel="noopener noreferrer">Buy BTC</a></li>
          <li><a href="http://" target="_blank" rel="noopener noreferrer"></a></li>
        </ul>
    </div>





    <script>
        function item1(){
        let e=document.getElementById("items");
        if (e.style.display=="none"){
          e.style.display=="block";
        } else{
          e.style.display=="none";
        }
      }
    </script>

    
</body>
</html>